<div class="about-container">
    <div class="title-container">
        <h1 class="title">About Us</h1>
        <p>Student Management System is a web-based application designed to help
            educational institutions manage students, teachers, courses, attendance,
            and academic records efficiently.</p>
    </div>
    <div class="features-container">
        <h2>Features</h2>
        <div class="cards-container">
            <mat-card class="card">
                <h3>Student Management</h3>
                <p>Add, update, view and manage student information easily</p>
            </mat-card>

            <mat-card class="card">
                <h3>Teacher Management</h3>
                <p>Manage teacher details and their subject assignments</p>
            </mat-card>

            <mat-card class="card">
                <h3>Course Management</h3>
                <p>Organize and manage courses and academic subjects</p>
            </mat-card>

            <mat-card class="card">
                <h3>Attendance Tracking</h3>
                <p>Track and monitor student attendance efficiently</p>
            </mat-card>

        </div>
    </div>
    <div class="mission-container">
        <h2>Our Mission</h2>
        <div class="mission">
            <p>
                Our mission is to simplify academic administration through a secure, efficient and user-friendly system that helps educational institutions focus more on education and less on paperwork.
            </p>
        </div>
    </div>
</div>