.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 240, 246);
    width: 100%;
    padding: 30px 10px;
    text-align: center;
}

.title {
    color: #1976d2;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-container p {
    width: 75%;
    max-width: 850px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    margin: 0 auto;
    text-align: center;
}

.features-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    font-weight: 600;
    color: rgb(36, 35, 35);
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
    color: rgb(36, 35, 35);
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.card {
    width: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.mission {
    width: 70%;
    max-width: 900px;
    background-color: rgb(240, 244, 245);

    border-radius: 8px;
}

.mission p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        font-size: 34px;
    }

    .title-container p {
        width: 90%;
        font-size: 16px;
    }

    .mission {
        width: 90%;
    }

    .card {
        width: 90%;
    }
}